# flyctl launch added from .gitignore
**/.rebar3
**/_build
**/_checkouts
**/_vendor
**/.eunit
**/*.o
**/*.beam
**/*.plt
**/*.swp
**/*.swo
**/.erlang.cookie
**/ebin
**/log
**/erl_crash.dump
**/.rebar
**/logs
**/.idea
**/*.iml
**/rebar3.crashdump
**/*~
**/src-tauri
**/ios
**/node_modules
**/android

# flyctl launch added from _build/default/lib/cowboy/.gitignore
_build/default/lib/cowboy/**/.cowboy.plt
_build/default/lib/cowboy/**/.erlang.mk
_build/default/lib/cowboy/**/_rel
_build/default/lib/cowboy/**/cowboy.d
_build/default/lib/cowboy/**/deps
_build/default/lib/cowboy/**/doc/guide.pdf
_build/default/lib/cowboy/**/doc/html
_build/default/lib/cowboy/**/doc/man3
_build/default/lib/cowboy/**/doc/man7
_build/default/lib/cowboy/**/ebin/*.beam
_build/default/lib/cowboy/**/ebin/test
_build/default/lib/cowboy/**/examples/*/ebin
_build/default/lib/cowboy/**/examples/*/*.d
_build/default/lib/cowboy/**/logs
_build/default/lib/cowboy/**/relx
_build/default/lib/cowboy/**/test/*.beam

# flyctl launch added from _build/default/lib/cowlib/.gitignore
_build/default/lib/cowlib/**/.cowlib.plt
_build/default/lib/cowlib/**/.erlang.mk
_build/default/lib/cowlib/**/_rel
_build/default/lib/cowlib/**/cowlib.d
_build/default/lib/cowlib/**/deps
_build/default/lib/cowlib/**/doc/man3
_build/default/lib/cowlib/**/doc/man7
_build/default/lib/cowlib/**/doc/markdown
_build/default/lib/cowlib/**/ebin/*.beam
_build/default/lib/cowlib/**/ebin/test
_build/default/lib/cowlib/**/examples/*/ebin
_build/default/lib/cowlib/**/logs
_build/default/lib/cowlib/**/relx
_build/default/lib/cowlib/**/test/*.beam

# flyctl launch added from _build/default/lib/ranch/.gitignore
_build/default/lib/ranch/**/.erlang.mk
_build/default/lib/ranch/**/.ranch.plt
_build/default/lib/ranch/**/*.d
_build/default/lib/ranch/**/deps
_build/default/lib/ranch/**/doc/guide.pdf
_build/default/lib/ranch/**/doc/html
_build/default/lib/ranch/**/doc/man3
_build/default/lib/ranch/**/doc/man7
_build/default/lib/ranch/**/ebin/test
_build/default/lib/ranch/**/ebin/*.beam
_build/default/lib/ranch/**/examples/*/ebin
_build/default/lib/ranch/**/examples/*/*.d
_build/default/lib/ranch/**/examples/*/_rel
_build/default/lib/ranch/**/logs
_build/default/lib/ranch/**/test/*.beam

# flyctl launch added from android/.gitignore
# Using Android gitignore template: https://github.com/github/gitignore/blob/HEAD/Android.gitignore

# Built application files
android/**/*.apk
android/**/*.aar
android/**/*.ap_
android/**/*.aab

# Files for the ART/Dalvik VM
android/**/*.dex

# Java class files
android/**/*.class

# Generated files
android/**/bin
android/**/gen
android/**/out
#  Uncomment the following line in case you need and you don't have the release build type files in your app
# release/

# Gradle files
android/**/.gradle
android/**/build

# Local configuration file (sdk path, etc)
android/**/local.properties

# Proguard folder generated by Eclipse
android/**/proguard

# Log Files
android/**/*.log

# Android Studio Navigation editor temp files
android/**/.navigation

# Android Studio captures folder
android/**/captures

# IntelliJ
android/**/*.iml
android/**/.idea/workspace.xml
android/**/.idea/tasks.xml
android/**/.idea/gradle.xml
android/**/.idea/assetWizardSettings.xml
android/**/.idea/dictionaries
android/**/.idea/libraries
# Android Studio 3 in .gitignore file.
android/**/.idea/caches
android/**/.idea/modules.xml
# Comment next line if keeping position of elements in Navigation Editor is relevant for you
android/**/.idea/navEditor.xml

# Keystore files
# Uncomment the following lines if you do not want to check your keystore files in.
#*.jks
#*.keystore

# External native build folder generated in Android Studio 2.2 and later
android/**/.externalNativeBuild
android/**/.cxx

# Google Services (e.g. APIs or Firebase)
# google-services.json

# Freeline
android/**/freeline.py
android/**/freeline
android/**/freeline_project_description.json

# fastlane
android/**/fastlane/report.xml
android/**/fastlane/Preview.html
android/**/fastlane/screenshots
android/**/fastlane/test_output
android/**/fastlane/readme.md

# Version control
android/**/vcs.xml

# lint
android/**/lint/intermediates
android/**/lint/generated
android/**/lint/outputs
android/**/lint/tmp
# lint/reports/

# Android Profiling
android/**/*.hprof

# Cordova plugins for Capacitor
android/**/capacitor-cordova-android-plugins

# Copied web assets
android/**/app/src/main/assets/public

# Generated Config files
android/**/app/src/main/assets/capacitor.config.json
android/**/app/src/main/assets/capacitor.plugins.json
android/**/app/src/main/res/xml/config.xml

# flyctl launch added from android/.idea/.gitignore
# Default ignored files
android/.idea/shelf
android/.idea/workspace.xml

# flyctl launch added from android/app/.gitignore
android/app/build/*
!android/app/build/.npmkeep

# flyctl launch added from client/.gitignore
# Logs
client/**/logs
client/**/*.log
client/**/npm-debug.log*
client/**/yarn-debug.log*
client/**/yarn-error.log*
client/**/pnpm-debug.log*
client/**/lerna-debug.log*

client/**/node_modules
client/**/dist
client/**/dist-ssr
client/**/*.local

# Editor directories and files
client/**/.vscode/*
!client/**/.vscode/extensions.json
client/**/.idea
client/**/.DS_Store
client/**/*.suo
client/**/*.ntvs*
client/**/*.njsproj
client/**/*.sln
client/**/*.sw?

# flyctl launch added from ios/.gitignore
ios/**/App/build
ios/**/App/Pods
ios/**/App/output
ios/**/App/App/public
ios/**/DerivedData
ios/**/xcuserdata

# Cordova plugins for Capacitor
ios/**/capacitor-cordova-ios-plugins

# Generated Config files
ios/**/App/App/capacitor.config.json
ios/**/App/App/config.xml

# flyctl launch added from ios/App/CapApp-SPM/.gitignore
ios/App/CapApp-SPM/**/.DS_Store
ios/App/CapApp-SPM/.build
ios/App/CapApp-SPM/Packages
ios/App/CapApp-SPM/*.xcodeproj
ios/App/CapApp-SPM/**/xcuserdata
ios/App/CapApp-SPM/**/DerivedData
ios/App/CapApp-SPM/**/.swiftpm/config/registries.json
ios/App/CapApp-SPM/**/.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
ios/App/CapApp-SPM/**/.netrc

# flyctl launch added from src-tauri/.gitignore
# Generated by Cargo
# will have compiled files and executables
src-tauri/target
src-tauri/gen/schemas
fly.toml
